/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: all 300ms ease;
  }

  h2{
    padding-top: 0;
  }
  #about h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
  }
  #about p{
    font-size: 18.5px;
  }

/* TRANSITIONS */
a, .btn{
  transition: all 300ms ease;
}

/* NAV */

#nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  background-color: #fafbff;
  top: 0;
  width: 100%; 
  height: 8%;
  z-index: 5;
}

.nav-links {
  padding-right: 5rem;
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  font-size: 20px;
}

a{
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #596fae;
  text-decoration: underline; 
  text-decoration-color: gainsboro;
}

.initial{
  padding-top: 4px;
  padding-left: 4.5rem;
  font-size: 34px;
  color: #596dae;
  font-weight: 600;
  font-family: 'Nunito';
}

.initial:hover{
  cursor: default;
}


/* SECTIONS */
section {
  margin: 0 10rem;  /* Keep consistent horizontal margins */
  padding: 7.5rem 0;  /* Add vertical padding to prevent overlap */
  box-sizing: border-box;
}
#home{
  padding-top: 15rem;
}
#about{
  margin: 0 20%; 
}

/* PROFILES SECTION */
#home {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 4rem;
  text-align: center;
}
.home_text{
  width: 50%;
  align-self: center;
  text-align: center;

}



.profile_pic{
  height: 350px;
  width: 350px;
  border-radius: 5rem;
  margin: auto 0;
}

.profile p{
  font-weight: 600;
}

.section_p1{
  font-size: clamp(1.4rem, 1.5vw, 1.5rem);
  margin-bottom: 1.5rem;
  align-items: center;
  text-align: center;
}

.title{
  font-size: 2.5rem;
  text-align: center;
}
.experience-title{
  margin-top: 0;
}


/* BUTTONS */
.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn{
  font-weight: 600;
  font-size: 16px;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn1{
  border: whitesmoke 0.1rem solid;
}

.btn2{
  border: gainsboro 0.1rem solid;
  background-color: #7181b4;
  color: whitesmoke;
}

.btn1:hover, .btn2:hover{
  border: rgb(136, 136, 136) 0.1rem solid;
}


.logo{
  display:inline-block;
  margin: auto;

}

#about {
  position: relative;
}

.about-containers {
  gap: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;  
  flex-wrap: wrap;
}

.about-details-container {
  justify-content: space-between;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  flex-wrap: wrap;

}

/* PROJECTS SECTION */

#projects {
  position: relative;
  margin: 0;
  padding: 7rem 5rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;  

}
.color-container {
  flex: 1 0 300px; /* Set a fixed width with flexibility */
  width: 300px; /* Fixed width */
  background: rgb(250, 250, 250);
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-color: rgb(163, 163, 163);
  box-sizing: border-box;
}
@keyframes subtle-wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  75% { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.color-container:hover {
  animation: subtle-wiggle 0.6s ease; /* Apply the subtle wiggle animation on hover */
}
.project-img {
  border-radius: 1rem;
  width: 90%; /* Adjust to fit the container */
  height: auto; /* Maintain aspect ratio */

}

.project-title {
  font-size: clamp(1.1rem, 1vw, 1.5rem);
  margin-top: 0.5rem;
  color: black;
  font-weight: 500;
  white-space: nowrap;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}
.experience-section{
  padding: 1rem;
  border-radius: 2rem;
  background-color: whitesmoke;
}

#skills{
  margin: 0 2.5rem;
}

.skills-details-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 84%;
  padding-left: 8%;
}


article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fefefe;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 150px; /* Default width, adjust as needed */
  height: auto;
  box-sizing: border-box;
  text-align: center;
}

article:hover{
  animation: subtle-wiggle 0.6s ease; 
}
h3{
  font-family: monospace;
}

.icon {
  padding-top: 25px;

  max-width: 100%;
}

.footer .initial{
  padding: 0.2rem;
  margin: 0rem;
}
.footer p{
  margin: 0rem;
  padding-bottom: 1.3rem;


}
.footer{
  position:relative;
  padding-bottom: 2rem;

    background-color: white;
    text-align: center;
}

.footer img{
  max-width: 24px;
}
.footer img:hover{
  animation: subtle-wiggle 0.6s ease; 
}
.footer a{
  padding: 0rem 1.5rem;
}
#menu-button{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 3;
  background-color: #fafbff;
  border: none;
  font-size: 46px;
  right: 10px;
}


#close-menu, #close-modal{
  background-color: transparent;
  border: none;
  font-size: 39px;
  line-height: 1.65;
  float: right;
}

#contact-button{
  background-color: white;
  border-radius: 10px;
  border: none;
  font-size: 120%;
  padding: 7px;
}
#contact-button:hover{
  background-color: whitesmoke;
}
#close-modal:hover, #menu-button:hover, #close-menu:hover{
  color: #576fb1;
}

#close-modal{
  float: right
}

.hidden{
  display: none;
}

@media only screen and (max-width: 800px) {

#close-menu{
  position: absolute;
  top: 5px;
  right: 3rem;
  z-index: 3;
}

#menu-button{
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 3;
  background-color: #fafbff;
  border: none;
  font-size: 46px;
  right: 3rem;

}  
#nav-menu {
  flex-direction: column; /* Ensure the nav menu is stacked vertically */
  align-items: flex-start; /* Align items to the start */
  padding-left: 1.5rem;

}

.nav-links {
  position: fixed;
  top: 0;
  left: 0; /* Align to the left edge */
  background-color: #fafbff;
  flex-direction: column; /* Stack links in a column */
  width: 100%;
  text-align: center;
  transition: 0.3s;
  padding: 0; /* Add padding for better spacing */
}

.nav-links li {

  padding-bottom: 0.5rem;
}

.profile_container{
  padding-bottom: 2rem;
}
.initial{
  padding-top: 13px;
  padding-left: 1.5rem;
  font-weight: 600;
}

.home_text{
  padding-left: 5%;
  width: 90%;
  align-self: center;
  text-align: center;

}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Allow more flexibility */
  gap: 1rem; /* Adjust gap for smaller screens */
  justify-content: center;
}

.article-container {

  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Adjust gap for smaller screens */
  justify-content: center;

}


section {
  margin: 0 3rem;  /* Keep consistent horizontal margins */
  padding: 6rem 0;  /* Add vertical padding to prevent overlap */
  box-sizing: border-box;
}
#home{
  display: block;
  text-align: center;
  padding-top: 8rem;
}

#about{
  margin: 0 10%; 
}
}